.courses{
    margin-top: $mg-2;
    margin-bottom: $mg-2;
    .course-content{
        width: 90%;
        margin: auto;
        .course-intro{
            padding: 4rem;
            background-color: $color-gray-5;
            h2{
                @include styleText($color-black-0, $fs-2, $fw-bold);
            }
        }
        .course-tab{
            .nav{
                justify-content: left;
                border: none;
                .nav-item{
                    &:hover{
                        .nav-link{
                            border: none;
                        }
                    }
                    .nav-link.active{
                        border: none;
                        border-bottom: 5px solid $color-blue;
                    }
                    .nav-link{
                        @include styleText($color-black-0, $fs-0, $fw-normal);
                        // thuộc tính border none đc dùng để khi hover vào các tab thì nó ko bị xê dịch 
                        border: none; 

                    }
                }
            }
            .tab-content{
                margin-top: $mg-2;
                position: relative;//xét relative để đưa nút mũi tên lên giữa
                .card-title{
                    @include styleText($color-black-0, $fs-0, $fw-bold);
                }
                .card-text{
                    @include styleText($color-gray-4, $fs-1, $fw-normal);
                }
                .rating{
                    display: flex;
                    .rating-star{
                        @include styleText($color-yellow, $fs-1, $fw-normal);   
                        margin-right: $mg-0;               
                    }
                    span:nth-child(2){
                        @include styleText($color-gray-4, $fs-1, $fw-bold);
                        margin-right: $mg-0;  
                    }
                    span:last-child{
                        @include styleText($color-gray-4, $fs-1, $fw-normal);
                    }
                }
                .price{
                    text-align: right;
                    .old-price{
                        @include styleText($color-gray-4, $fs-1, $fw-normal);
                        text-decoration: line-through;
                    }
                    .new-price{
                        @include styleText($color-black-0, $fs-2, $fw-bold);
                    }
                }
            }
            
        }
    }
}