.header__left{
    display: flex;
    align-items: center;
    .navbar-brand{
        flex-grow: 1;
        img{
            width: 110px;
        }
    }

    .header__cate{
        flex-grow: 1;
    }

    //flex-grow
    .header__form{
        flex-grow: 5;
        .form-control{
            background-color: $color-gray-5;
            border: none;
            transition: none;
            &:focus{
                box-shadow: none;
                background-color: $color-white-0;
                border-top: 1px solid $color-gray-3;
                border-bottom: 1px solid $color-gray-3;
                border-left: 1px solid $color-gray-3;
            }
            &:focus + .input-group-append{
                .input-group-text{
                    color: $color-red-0;
                    background-color: $color-white-0;
                    border-top: 1px solid $color-gray-3;
                    border-bottom: 1px solid $color-gray-3;
                    border-right: 1px solid $color-gray-3;
                }
                &:hover{
                    .input-group-text{
                        background-color: $color-red-0;
                        color: $color-white-0;
                    }    
                }
            }
        }
    }

    .input-group-append{
        .input-group-text{
            color: $color-red-0;
            background-color: $color-gray-5;
            border: none;
        }
        &:hover{
            .input-group-text{
                background-color: $color-red-0;
                color: $color-white-0;
            }    
        }
    }

}

.header__right{
    .navbar-nav{
        justify-content: space-between;
        width: 100%;
        .nav-item{
            // flex-grow: 1;
            align-self: center;
            align-items: center;
            .nav-link{
                
                @include styleText($color-black-light,$fs-1,$fw-normal);
                padding: $pd-1 $pd-2;
            }
            &:hover{
                background-color: $color-gray-5;
            }
        }

        .nav-cart{
            &:hover{
                border: 1px solid $color-gray-3;
                border-radius: 50%;
                line-height: 22px;
            }
        }
    } 
}

header{
    .navbar-toggler{
        border: 1px solid $color-gray-4;
        .navbar-toggler-icon{
            color: $color-gray-4;
        }
    }
}

// RESPONSIVE
@include responsive("extra-large"){
    .header__right{
        .ude-business,.ude-teach{
            display: none!important;
        }
    }
}

@include responsive("medium"){
    .header__left{
        .header__cate,.header__form{
            display: none!important;
        }
    }
    .header__right{
        .ude-btnGroup{
            display: none!important;
        }
    }

}